@font-face { font-family: "Montserrat-Bold"; src: url('../fonts/Montserrat-Bold.otf'); }
@font-face { font-family: "Montserrat-Light"; src: url('../fonts/Montserrat-Light.otf'); }
@font-face { font-family: "OpenSans-Light"; src: url('../fonts/OpenSans-Light.ttf'); }
@font-face { font-family: "OpenSans-Regular"; src: url('../fonts/OpenSans-Regular.ttf'); }

body {
    font-family: "OpenSans-Regular" !important;
}

.navbar-vertical {
    background-color:#FFF;
}

.navbar-brand svg {
    fill: currentColor !important;
    max-width: 100px;
    height:75px;
    width: 75px;
}

.table td, .table th {
    vertical-align: middle;
}

.card {
    box-shadow: 0 0 2rem 0 rgba(136,152,170,.15);
}

pre {
    color: white !important;
}
