
:root {
    /** Body */
    --body-bg-color: #232427;
    --body-bg: url('../img/header.jpg') top center no-repeat #232427;
    --font-color: #7c7c7c;
    --header-bg: url('../img/header.jpg') top center no-repeat #3c4d69;

    --admin-nav-bg: #292A2D;
    --admin-shadow: 0 0 2rem 0 rgba(0,0,0,.15) !important;
    --admin-header-bg: #3282b8;

    /** Table Links */
    --link-color: #3282b8;
    --link-hover-color: #3996d4;

    --nav-link-color: #DDD;
    --nav-link-hover-color:#FFF;

    /** headers */
    --header-color: #FFF;

    /** buttons */
    --btn-bg: #3282b8;
    --btn-border:#3282b8;
    --btn-font:#FFF;

    --btn-hover-bg: #3996d4;
    --btn-hover-border: #3996d4;
    --btn-hover-font: #FFF;

    /** outline buttons */
    --btn-outline-bg: transparent;
    --btn-outline-border:#3282b8;
    --btn-outline-font:#3282b8;

    --btn-outline-hover-bg: #3282b8;
    --btn-outline-hover-border: #3282b8;
    --btn-outline-hover-font: #FFF;

    /** Cards */
    --card-bg: #292A2D;
    --card-header: transparent;
    --card-header-font: #FFF;
    --card-shadow: 0 0 2rem 0 rgba(0,0,0,.15);

    /** Tables */
    --table-font: #AFAFAF;
    --table-header-bg: #2f3033;
    --row-border-color: #323232;
    
    --row-premium: rgba(144, 202, 249, 0.18);

    /** Misc Fonts */
    --muted-color: #777;
    --h-color:#FFF;
    --default-color: #3c4d69;

    /** Badges */
    --badge-primary-bg: rgba(0, 250, 250, 0.05);
    --badge-primary-font: #00AAAA;

    --badge-success-bg: rgba(0, 255, 0, 0.05);
    --badge-success-font: #00AA00;

    --badge-danger-bg: rgba(251,75,90,.1);
    --badge-danger-font: #f80031;

    /** forms */
    --form-bg: #2e3033;
    --form-border: #2c2d30;
    --form-font: #cad1d7;
    
    --form-focus-bg: #2e3033;
    --form-focus-border: #2e3033;
    --form-focus-font: #cad1d7;

    --footer-bg: #1f1f22;
    --footer-font: #AAA;

    --page-link: #292A2D;
    --page-link-font: #aaa;
    --page-hover: #292A2D;
    --page-hover-font: #FFF;
    --page-active: #3996d4;
    --page-active-font: #FFF;
    --page-disabled: #272727;
    --page-disabled-font: #444;

    /** Popover */
    --popover-bg: #2e2f31;
    --popover-font: #DDD;
}